# Xcode
build/
DerivedData/
*.xcodeproj/
*.xcworkspace/
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# User-specific
*.xcuserdatad
*.mode1v3
*.mode2v3
*.perspectivev3

# Logs
*.log

# Dependencies
Packages/
Package.resolved

# Environment
.env
